.quote-parent {
  width: 90%;
  margin-left: 35px;
}

.quote {
  font-size: 1.6rem;
  text-align: left;
}

.author {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: right;
  padding-top: 10px;
  margin-right: 120px;
}

/* Smartphones */
@media screen and (max-width: 767px) {
  .quote-parent {
    margin-left: 15px;
  }
  .quote {
    font-size: 1.3rem;
  }
  .author {
    font-size: 1.2rem;
    margin-right: 20px;
  }
}

/* Tablets/medium devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .author {
    margin-right: 40px;
  }
}

/* Extra large screens */
@media screen and (min-width: 1900px) {
  .author {
    margin-right: 10rem;
  }

  .quote {
    font-size: 2.2rem;
    text-align: justify;
  }

  .author {
    font-size: 1.8rem;
  }
}
